.button {
  appearance: none;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  transition: var(--transition);
  transition-property: background-color;
}

.buttonM {
  padding: 16px;
}

.buttonS {
  padding: 4px 16px;
}

.buttonPrimary {
  background: var(--c-blue);
  color: var(--c-on-color);
  font-weight: bold;
}
.buttonPrimary:hover {
  background: var(--c-blue-secondary);
}

.buttonDanger {
  background: var(--c-red);
  color: var(--c-on-color);
  font-weight: bold;
}
.buttonDanger:hover {
  background: var(--c-red-secondary);
}

.buttonDisabled {
  cursor: not-allowed;
  background: var(--c-tertiary);
  color: var(--c-on-color-secondary);
  font-weight: bold;
}

.buttonSecondary {
  background: transparent;
  color: var(--c-blue);
}
.buttonSecondary:hover {
  background: var(--c-quatenary);
}
