.wrapperIsSticky {
  background: var(--c-bg);
  position: sticky;
  top: 0;
}
@supports (backdrop-filter: var(--backdrop-blur)) {
  .wrapperIsSticky {
    background: var(--c-bg-secondary);
    backdrop-filter: var(--backdrop-blur);
  }
}
