.wrapper {
  padding-top: calc(var(--gutter) / 2);
}

.wrapperIsSticky {
  background: linear-gradient(var(--c-bg), var(--c-bg-secondary));
  position: sticky;
  top: 0;
  z-index: var(--z-above-content);
}

@supports (backdrop-filter: var(--backdrop-blur)) {
  .wrapperIsSticky {
    background: var(--c-bg-secondary);
    backdrop-filter: var(--backdrop-blur);
  }
}
