.wrapper {
  -webkit-appearance: none;
  background: transparent;
  box-sizing: border-box;
  border: 0;
  color: var(--c-tertiary);
  cursor: pointer;
  display: inline-block;
  height: 44px;
  padding: calc(44px - 28px);
  transition: color 0.2s ease-out;
  width: 44px;
}
.wrapper:hover {
  color: var(--c-primary);
}

.wrapper > svg {
  height: 16px;
  width: 16px;
}
