.wrapper {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  border-radius: var(--radius);
  cursor: pointer;
  padding: var(--pad-s) var(--pad);
  text-align: left;
  transition: var(--transition);
  transition-property: background-color;
  width: 100%;
}
.wrapper:hover {
  background-color: var(--c-quatenary);
}
.wrapperIsActive {
  background-color: var(--c-quatenary);
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}
