.wrapper {
  display: grid;
  gap: var(--pad);
}

.gapL {
  gap: var(--pad-l);
}

.gapS {
  gap: var(--pad-s);
}

.gapXs {
  gap: var(--pad-xs);
}

.outterGutter {
  padding: 0 calc(var(--gutter) / 2);
}
